<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="EstilosCss/layout.css">
    <link rel="stylesheet" href="EstilosCss/SignIn.css">
    <title>Document</title>
</head>

<body>
    <header>
        <ul class="lista">
            <li>
                <a href="#">Index</a>
            </li>
            <li>
                <a href="#">Catalogo</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
            <li>
                <a href="#">Sign out</a>
            </li>
        </ul>
    </header>
    <section>
        <form type="Post" action="">
            <div class="SignIn">
                    <h1>LOGIN</h1>
                    <img src="ImagenSVG/camaleon.svg" style="background:white" width="200">
                <input type="text" placeholder="Usuario"/>
                <input type="password" placeholder="Contraseña"/>
                <input type="submit" class="boton"/>
            </div>
        </form>
    </section>
</body>

</html>